/node_modules
/public/hot
/public/storage
/public/assets
/public/css/*
/public/js/*
/public/plugins/*
/storage
/vendor
/bootstrap/cache
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
# *.xlsx
.DS_Store
public/css/all.css
public/css/app.css
public/js/app.js
public/js/app.js.LICENSE.txt
public/mix-manifest.json
